.ui-public-footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:55px;
	border-bottom:1px solid #3F4042;
	border-top:1px solid #3F4042;
	background:#2D2E30;
	z-index: 1000;
	.container-fluid{
		width:980px;
		line-height:55px;
		text-align:center;
		p{
			color:#686869;
		}
	}
}
