.ui-banner-2{
    margin: 20px 0;
    padding: 10px 0;
    overflow: hidden;
    .ui-border-t{
        float: left;
        padding: 0 10px;
        box-sizing: border-box;
        margin-left: 0;
        width: 50%;
        background-image: none;
    }
    .ui-list-img{
        width: 60px;
        height: 60px;
    }
    .ui-list-info{
        padding: 0;
        .ui-nowrap{
            font-size: 12px;
        }
    }
}
