body{
    margin: 0;
    padding: 0;
    min-width: 980px;
    box-sizing: border-box;
    padding-bottom: 40px;
    background-color: #f0f0f0;
    font-family: 'Microsoft YaHei';
    h3{
        font-weight: 400;
    }
}
