.ui-label-panel{
    position: fixed;
    width: 100%;
    z-index: 90     ;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    top: -150px;
    background-color: #fff;
}

.ui-label-panel.show{
    top: 44px;
}