/* /component/user-login/login-header/index.scss */.login-header {
  height: 310px;
  width: 100%;
  background-color: #4ab380;
  text-align: center; }
  .login-header img {
    margin-top: 60px; }
/* /component/user-login/login-form/index.scss */.ui-login-form {
  position: relative;
  top: -70px;
  width: 620px;
  height: 285px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  color: #999; }
  .ui-login-form .login-form {
    position: relative;
    width: 270px;
    float: left;
    margin-left: 40px; }
    .ui-login-form .login-form h3 {
      margin-bottom: 20px; }
    .ui-login-form .login-form.error-form h3 {
      margin-bottom: 60px; }
    .ui-login-form .login-form .input-group {
      width: 260px; }
    .ui-login-form .login-form input {
      width: 100%;
      height: 38px;
      margin-bottom: 10px;
      line-height: 38px;
      vertical-align: middle;
      padding: 0 5px;
      border: 1px solid #999;
      border-radius: 3px;
      font-size: 14px;
      outline: none; }
    .ui-login-form .login-form .field-tips {
      position: absolute;
      display: none;
      width: 100%;
      height: 30px;
      line-height: 30px;
      left: 0;
      top: 55px;
      border: 1px solid red;
      font-size: 12px;
      color: #999;
      background-color: #fcf2f2; }
      .ui-login-form .login-form .field-tips .i-alert {
        width: 20px;
        height: 20px;
        display: inline-block;
        float: left;
        margin-top: 8px;
        margin-left: 8px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAAJ1BMVEUAAAD+RQH+RQH+RQH+RQH+RQH+RQH+RQH+RQH+RQH+RQH+RQH///+OnROPAAAAC3RSTlMA8YQUU/nQ89LTVNhGsE4AAABLSURBVAjXY2Bg1ghNMmBgYHDcvXu3CAMDy24QcGAwBNPCDNpgehNDNpjewRC958yZM6e3QuntUPFtMHUwfXBzGBZCzGVg1gwH2gMAPgoz0vKAUFsAAAAASUVORK5CYII=) top left no-repeat; }
    .ui-login-form .login-form .input-username .field-tips {
      z-index: 9; }
    .ui-login-form .login-form .btn {
      width: 100%;
      height: 40%;
      margin-top: 10px;
      padding: 10px 0;
      text-align: center;
      border-radius: 5px;
      color: #fff;
      background-color: #31c37c; }
      .ui-login-form .login-form .btn:hover {
        background-color: #289560;
        cursor: pointer; }
  .ui-login-form .login-code {
    float: right;
    width: 260px;
    margin: 25px 0 auto 0;
    font-size: 16px; }
    .ui-login-form .login-code h3 {
      margin: 10px auto;
      text-align: center; }
    .ui-login-form .login-code p {
      padding: 20px 0 20px 65px;
      border-left: 1px solid #ccc; }

.copy-right {
  position: relative;
  top: -70px;
  margin: 20px auto;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #999; }
/* /pages/user-login/index.scss */body {
  margin: 0;
  padding: 0;
  min-width: 980px;
  box-sizing: border-box;
  padding-bottom: 40px;
  background-color: #f0f0f0;
  font-family: 'Microsoft YaHei'; }
  body h3 {
    font-weight: 400; }
