<!--
    @require "index.scss"
-->
<link rel="stylesheet" href="./index.scss">

<div id="ui-dialog" class="ui-dialog">
    <div class="ui-dialog-cnt">
      <header class="ui-dialog-hd ui-border-b">
                  <h3>新手任务</h3>
                  <i class="ui-dialog-close" data-role="button"></i>
              </header>
        <div class="ui-dialog-bd">
            <h4>标题标题</h4>
            <div>开通年费QQ会员即可领取欢乐斗地主感恩节回馈礼包！</div>
        </div>
        <div class="ui-dialog-ft">
            <button type="button" data-role="button">取消</button>
            <button type="button" data-role="button">开通</button>
        </div>
    </div>        
</div>




        